<% layout('layout-super-user') -%>
<% stylesheet('../css/all.css') -%>
<% stylesheet('../css/animate.min.css') -%>
<% stylesheet('../css/bootstrap.min.css') -%>
<% stylesheet('../css/bootstrap-theme.min.css') -%>
<% script('../js/SoundJS/lib/soundjs-0.6.2.min.js') -%>
<% script('../js/PreloadJS/lib/preloadjs-0.6.2.min.js') -%>
<% script('../js/jquery-3.0.0.min.js') -%>
<% script('../js/bootstrap.min.js') -%>
<% script('../js/local-resource-owners.js') -%>

<div class="container-fluid">
	<div class="row fill-table-upper-content">&nbsp;
	</div>
	<div id="resourceOwnersForm" class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<form>
				<table class="table">
					<tbody>
						<tr>
							<td>
								<label for="userName1">Resource owner name</label>
								<input type="text" class="form-control" id="userName1" placeholder="resource owner name">
							</td>
							<td>
								<label for="ip1">IP</label>
								<input type="text" class="form-control" id="ip1" placeholder="ip">
							</td>
							<td>
								<label for="port1">Port</label>
								<input type="text" class="form-control" id="port1" placeholder="port1">
							</td>
							<td>
								<label for="description1">Description</label>
								<input type="text" class="form-control" id="description1" placeholder="description">
							</td>
						<tr>
						<tr>
							<td>
								<button type="submit" class="btn btn-primary">Submit</button>
								<button type="reset" class="btn btn-primary">Reset</button>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
			<table class="table table-hover">
				<tbody>
					<tr>
						<th>user name</th>
						<th>email address</th>
						<th>password</th>
						<th>gender</th>
						<th>phone number</th>
						<th>address</th>
						<th>create date</th>
						<th>update date</th>
					<tr>
					<tr>
						<td>adfsf</td>
						<td>adfsf</td>
						<td>adfsf</td>
						<td>adfsf</td>
						<td>adfsf</td>
						<td>adfsf</td>
						<td>adfsf</td>
						<td>adfsf</td>
					<tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>

