<% layout('layout') -%>
<% stylesheet('./css/all.css') -%>
<% stylesheet('./css/animate.min.css') -%>
<% stylesheet('./css/bootstrap.min.css') -%>
<% stylesheet('./css/bootstrap-theme.min.css') -%>
<% script('./js/SoundJS/lib/soundjs-0.6.2.min.js') -%>
<% script('./js/PreloadJS/lib/preloadjs-0.6.2.min.js') -%>
<% script('./js/jquery-3.0.0.min.js') -%>
<% script('./js/bootstrap.min.js') -%>
<% script('./js/logs.js') -%>

<div class="container-fluid">
	<div class="row fill-table-upper-content">&nbsp;
	</div>
	<div id="logsForm" class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<table class="table table-hover">
				<tbody>
					<tr>
						<th>log files</th>
					<tr>
					<tr>
						<td><a src="cheese.log" href="">cheese.log</a></td>
					<tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>

